// COLORS
//$color-primary: #272727;
//$color-background: #FFFFFF;
//$color-link: #1A0DAB;
$color-primary: #CFCFCF;
$color-background: #292929;
$color-link: #257E1C;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";

// BREAKPOINTS
$br: 600px;
