---
layout: default
---

<div class="post">
		<a class="post__back" href="/">&lt;-- back</a>
		<h1 class="post__title">{{ page.title }}</h1>
		<p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
		<div class="post__content">
				{{ content }}
		</div>
		{% if page.comments %}
				<div id="disqus_thread"></div>
<script>
		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		 */
		/*
		var disqus_config = function () {
				this.page.url = '{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = '{{page.url}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');

				s.src = '//codelearnblog.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
		})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
</div>
